<main class="container add-burger">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-2"><img class="burger-ico" src="./assets/images/vegan-burger.png" alt="veggie-Burger" />
    </div>

    <div class="col-sm-8 align-items-center">
      <h1>Cruelty Free Burger Bonanza</h1>
    </div>
  </div>
  <div class="row">
    <section class="col-sm">
      <div class="container">
        <div class="card-header">
          <h2>Burger wish list!</h2>
        </div>
        {{#each burgers}}
        {{#unless devoured}}
        <div class="row burger-item align-items-center">
          <div class="col-6">{{burger_name}}</div>
          <div class="col-4"><button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
              Eat it!
            </button></div>
          <div class="col-2"><button class="delete-burger" data-id="{{this.id}}"><i
                class="fas fa-trash-alt"></i></button>
          </div>
        </div>
        {{/unless}}
        {{/each}}
      </div>
    </section>
    <section class="col-sm p-b-5">

      <div class="cow-bg">
        <div class="burger-item">
          <div class="row justify-content-center">

            <div class="">
              <h2>Add new burger!</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div>
              <form class="create-form">
                <div class="form-group">

                  <input placeholder="Burger Name" type="text" id="ca" name="name">
                </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div>
              <div class="form-group col">
                <input type="radio" name="devoured" value="0" checked> Wish List!<br>
                <input type="radio" name="devoured" value="1"> Devoured!
              </div>
              <div class="col"><button type="submit">Add burger</button></div>

              </form>

            </div>

          </div>
        </div>
      </div>

    </section>
    <section class="col-sm">
      <div class="container">
        <div class="card-header">
          <h2>Devoured list!</h2>
        </div>
        {{#each burgers}}
        {{#if devoured}}
        <div class="row burger-item ">
          <div class="col-10">{{burger_name}}</div>
          <div class="col-2"><button class="delete-burger" data-id="{{this.id}}"><i
                class="fas fa-trash-alt"></i></button>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </section>
  </div>

</main>


{{!-- <div class="card" style="">
  <div class="card-header">
    <h2>Burgers I've devoured!</h2>
  </div>
  <ul class="list-group list-group-flush">
    {{#each burgers}}
    {{#if devoured}}
    <li class="list-group-item">
      {{burger_name}}
      <button class="delete-burger" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i></button>
    </li>
    {{/if}}
    {{/each}}
  </ul>
</div> --}}



{{!-- <h2>Burgers I've devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=0}}
  {{/if}}
  {{/each}}
</ul> --}}