<li class="list-group-item">
  {{burger_name}}

  <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
    {{#if devoured}}Eat it!{{else}}WAKE UP!{{/if}}
  </button>

  <button class="delete-burger" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i></button>
</li>